@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Custom Color =========== */
  --tw-color-dark: 30 32 33;
  --color-dark: rgb(var(--tw-color-dark)); /* #1E2021 */
  --tw-color-light: 204 199 193;
  --color-light: rgb(var(--tw-color-light)); /* #CCC7C1 */
  /* #endregion  /**======== Custom Color =========== */
}

@layer base {
  @font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    src: url('/fonts/Inter.ttf') format('truetype');
  }

  @font-face {
    font-family: 'GrandHotel';
    font-weight: 400;
    src: url('/fonts/GrandHotel-Regular.ttf') format('truetype');
  }

  .layout {
    @apply mx-auto w-11/12;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  body::before,
  body::after {
    z-index: -1;
    position: fixed;
    height: 100vh;
    width: 100vw;
    content: '';
    background-color: var(--tw-color-dark);
  }

  .form-group {
    @apply my-2 flex flex-col;
  }

  .form-label {
    @apply mb-2 block text-base font-bold text-dark dark:text-emerald-50;
  }

  .form-control {
    @apply w-full appearance-none rounded border py-2 px-3 leading-tight text-dark shadow focus:outline-none;
  }
}
